.heading-primary,
.heading-secondary,
.header-tertiary {
	font-weight: 700;
	/* color: #45260a; */
	color: #333;
	letter-spacing: -0.5px;
}

.heading-primary {
	font-size: 5.2rem;
	line-height: 1.05;
	margin-bottom: 3.2rem;
}
.heading-secondary {
	font-size: 4.4rem;
	line-height: 1.2;
	margin-bottom: 9.6rem;
}
.heading-tertiary {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 3.2rem;
}

.subheading {
	display: block;
	font-size: 2rem;
	font-weight: 500;
	color: #cf711f;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
	letter-spacing: 0.75px;
}

/* .btn:link: this only apply to who has href attribute */

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	font-size: 2rem;
	padding: 1.6rem;
	border: none;
	border-radius: 9px;
	/* Put  transition on original "state" */
	transition: all 0.3s;
	cursor: pointer;
	font-family: inherit;
}
.btn--full:link,
.btn--full:visited {
	background-color: #e67e22;
	color: #fff;
}

.btn--full:hover,
.btn--full:active {
	background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
	background-color: #fff;
	color: #555;
}

.btn--outline:hover,
.btn--outline:active {
	background-color: #fdf2e9;
	color: #555;
	/* this will make the layout shift on hover */
	/* border: 3px solid white; */
	box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
	background-color: #45260a;
	color: #fdf2e9;
	align-self: end;
	padding: 1.2rem;
}
.btn--form:hover {
	background-color: #fff;
	color: #555;
}

.link:link,
.link:visited {
	display: inline-block;
	color: #e67e22;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	transition: all 0.3s;
}

.link:hover,
.link:active {
	color: #cf711f;
	border-bottom: 1px solid transparent;
}
.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
.list-item {
	font-size: 1.8rem;
	display: flex;
	align-items: center;
	gap: 1.6rem;
	line-height: 1.2;
}
.list-icon {
	width: 3rem;
	height: 3rem;
	color: #e67e22;
}

*:focus {
	/* not accessible */
	outline: none;
	/* not wrapping around the corner */
	/* outline: 4px dotted #e67e22;
	outline-offset: 8px;*/
	box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}
/* HELPERS/SETTINGS CLASSES */

.margin-right-sm {
	margin-right: 1.6rem !important;
}
.margin-bottom-md {
	margin-bottom: 4.8rem !important;
}

.center-text {
	text-align: center;
}

/* redefine the <strong /> element */
strong {
	font-weight: 500;
}

.grid {
	display: grid;
	row-gap: 9.6rem;
	column-gap: 6.4rem;
}
.container {
	/* 1140px */
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 3.2rem;
}

/* so that we can have a grid inside another grid */
.grid:not(:last-child) {
	margin-bottom: 9.6rem;
}

.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
	grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
	grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
	align-items: center;
}

/* desktop first - max width
mobile first - min width */
